@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  padding: 40px 0;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: monospace;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}

#improve {
  position: absolute;
  right: 45px;
  top: 45px;
  z-index: 2;
}

#sidebar li {
  list-style: none;
}
#sidebar li a {
  display: block;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
#sidebar .group {
  margin-top: 40px;
}
#sidebar .group > a {
  font-family: monospace;
  color: #111;
  margin-bottom: 10px;
  text-decoration: none;
}

#footer {
  margin-top: 20px;
  color: #ccc;
  font-weight: bold;
  text-transform: lowercase;
  font-family: monospace;
}

#footer a {
  color: #ccc;
  text-decoration: underline;
}

#footer .container {
  padding: 30px 0;
}

h1 code, h2 code, h3 code, h4 code, h5 code{
  text-transform: none
}

#angular2-version {
  font-style: italic;
  font-size: 10px;
  display: block;
  margin: 8px 0;
}

.addthis_sharing_toolbox {
  min-height: 29px;
}
