<div id="sidebar" class="sidebar">
  <h3>Angular 2</h3>
  <small id="angular2-version">Angular 2 v{{site.angular2_version}}</small>
  <ul>
    <li><a href="/">Início</a></li>
    <li><a href="/why-angular2">Porquê Angular2?</a></li>
    <!--<li><a href="/hello-world">Angular 2 Hello World</a></li>-->
    <li><a href="/components/">Componentes</a></li>
    <li><a href="/inputs/">Inputs</a></li>
    <li><a href="/outputs/">Outputs</a></li>
    <li><a href="/lifecycle/">Lifecycle</a></li>
    <li><a href="/templates/">Templates</a></li>
    <li><a href="/events/">Eventos</a></li>
    <li><a href="/forms/">Formulários</a></li>
    <li><a href="/viewChild/">ViewChild</a></li>

    <li class="group"><a href="/es6">ES6/TypeScript</a>
      <ul>
        <li><a href="/es6/">Quem?</a></li>
        <li><a href="/es6/variables/">Variáveis</a></li>
        <li><a href="/es6/classes/">Classes</a></li>
        <li><a href="/es6/template-strings/">Template Strings</a></li>
        <li><a href="/es6/arrow-functions">Arrow Functions</a></li>
        <li><a href="/es6/promises">Promises</a></li>
      </ul>
    </li>
  </ul>
</div>
