<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">

  {% include head.html %}

  <body>
    {% if page.edit_link %}
    <div id="improve">
      <a href="{{page.edit_link}}">Editar essa página</a>
    </div>
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="three columns">
          {% include sidebar.html %}
        </div>
        <div class="nine columns">
          <h3>{{page.title}}</h3>
          {% if page.tweet %}
          <a class="twitter-share-button" href="https://twitter.com/share" data-text="{{page.tweet}}" data-via="joselitojunior1" data-related="joselitojunior1">
            Tuitar isso
          </a>
          {% endif %}
          {{ content }}
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="container">
        feito para humanos &middot; <a href="http://joselito.space/">joselito.space</a>. Licença Apache 2.
      </div>
    </footer>
  </body>
</html>
