<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">

  {% include head.html %}

  <body>
    {% if page.edit_link %}
    <div id="improve">
      <a href="{{page.edit_link}}">Editar essa página</a>
    </div>
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="three columns">
          {% include sidebar.html %}
        </div>
        <div class="nine columns">
          <h3>{{page.title}}</h3>
          {% if page.tweet %}
            <div class="addthis_sharing_toolbox"></div>
          {% endif %}
            
          {{ content }}
          
          <div style="margin: 20px 0 0; background: #f4f4f4; padding: 20px 20px 1px;">
            <h2>Ionic Bootcamp</h2>
            <p>Treinamento completo de <strong>Ionic 2</strong> (que usa Angular 2 como base), com 12 horas de conteúdo prático, em Fortaleza, Salvador e Goiânia! <strong><a href="http://ionicbootcamp.com">Garanta agora a sua vaga!</a></strong></p>
          </div>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="container">
        Feito para humanos &middot; <a href="http://joselito.space/">joselito.space</a> &middot; Licença Apache 2.
      </div>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-80894906-1', 'auto');
      ga('send', 'pageview');
    
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-578af9badd59a49a"></script>
  </body>
</html>
